**/.vs/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]in/
**/[Ll]ogs/
**/*.pubxml.user
**/*.sln.*.user
**/*.sln.user
**/*.cs~*.TMP
**/.idea/
**/.vsconfig
**/Publish/
.DS_Store



**/*Unity/*.sln*
**/*Unity/*.csproj
**/*Unity/Library/
**/*Unity/UserSettings/