// ==================== qcbf@qq.com | <#= DateTime.Now.ToString("yyyy-MM-dd") #> ====================
<#@ template language="C#" #>
<#@ import namespace="System.Linq" #>
<#@ include file="../Utility.ttinclude"#>

using System.Collections;
using System.Collections.Generic;

namespace FLib.WorldCores
{
    public unsafe partial class WorldCore
    {
<#
    for (var i = 1; i <= 8; i++)
    {
        var genericParams = T(1, i, ", ", n => $"T{n}");
        var genericWheres = T(1, i, " ", n => $"where T{n} : unmanaged");
        var refComps = T(1, i, ", ", n => $"Ref<T{n}>");
#>

        /// <summary>
        /// 
        /// </summary>
        public QueryEnumerator<<#= genericParams #>> Query<<#= genericParams #>>(in QueryFilter filter = default) <#= genericWheres #> => new(this, filter);

        /// <summary>
        /// 
        /// </summary>
        public readonly struct QueryEnumerator<<#= genericParams #>> : IEnumerable<(Entity, <#= refComps #>)> <#= genericWheres #> 
        {
            private readonly QueryFilter _filter;
            public Enumerable GetEnumerator() => new(_filter);
            IEnumerator IEnumerable.GetEnumerator() => GetEnumerator();
            IEnumerator<(Entity, <#= refComps #>)> IEnumerable<(Entity, <#= refComps #>)>.GetEnumerator() => GetEnumerator();
            public QueryEnumerator(in WorldCore world, in QueryFilter filter)
            {
                _filter = filter;
                if (_filter.IsEmpty)
                    _filter = new QueryFilterBuilder(world)<#= T(1, i, "", n => $".WithAll<T{n}>()") #>.Build();
            }
            public struct Enumerable : IEnumerator<(Entity, <#= refComps #>)>
            {
                public ChunkQueryEnumerator ChunkEnumerator;
                private int _index;
                private int _count;
                private Entity* _entity;
                <#= T(1, i, "\n\t\t\t\t", n => $"private T{n}* _component{n};") #>
                public (Entity, <#= refComps #>) Current => (*(_entity + _index), <#= T(1, i, ", ", n => $"new Ref<T{n}>(_component{n} + _index)") #>);
                object IEnumerator.Current => Current;
                public Enumerable(QueryFilter filter)
                {
                    ChunkEnumerator = new ChunkQueryEnumerator(filter);
                    _count = _index = 0;
                    _entity = null;
                    <#= T(1, i, "\n\t\t\t\t\t", n => $"_component{n} = null;") #>
                }
                public bool MoveNext()
                {
                    if (++_index < _count)
                        return true;
                    if (!ChunkEnumerator.MoveNext())
                        return false;

                    var chunk = ChunkEnumerator.Current!;
                    _index = 0;
                    _count = chunk.Count;
                    _entity = chunk.GetEntity(0);
                    <#= T(1, i, "\n\t\t\t\t\t", n => $"_component{n} = chunk.Get<T{n}>(0);") #>
                    return true;
                }
                public void Reset() { }
                public void Dispose() => ChunkEnumerator.Dispose();
            }
        }
<#
    }
#>
    }
}