// ==================== qcbf@qq.com | <#= DateTime.Now.ToString("yyyy-MM-dd") #> ====================
<#@ template language="C#" #>
<#@ import namespace="System.Linq" #>

using System;
using System.Diagnostics;

namespace FLib.WorldCores
{
    public unsafe partial class WorldCore
    {
<#
    for (var i = 2; i <= 8; i++)
    {
        var genericParams = string.Join(", ", Enumerable.Range(1, i).Select(n => $"T{n}").ToArray());
        var genericWheres = string.Join(" ", Enumerable.Range(1, i).Select(n => $"where T{n} : unmanaged").ToArray());
        var componentsArgs = string.Join(", ", Enumerable.Range(1, i).Select(n => $"new Ref<T{n}>(chunk.Get<T{n}>(idx))").ToArray());
#>
        /// <summary>
        /// 
        /// </summary>
        public Components<<#= genericParams #>> GetSta<<#= genericParams #>>(in Entity et) <#= genericWheres #>
        {
            ref readonly var eti = ref EntityInfos.GetRef(et.Id);
            Assert(eti.Version == et.Version, et, "version error");
            var chunk = eti.Chunk;
            var idx = eti.IndexInChunk;
            return new Components<<#= genericParams #>>(<#= componentsArgs #>);
        }

<#
    }
#>
    }
}