// ==================== qcbf@qq.com | <#= DateTime.Now.ToString("yyyy-MM-dd") #> ====================
<#@ template language="C#" #>
<#@ import namespace="System.Linq" #>
<#@ include file="../Utility.ttinclude"#>

using System.Collections;
using System.Collections.Generic;
using FLib.WorldCores.Queries;
using FLib.WorldCores.Entities;

namespace FLib.WorldCores
{
    public unsafe partial class WorldCore
    {
<#
    for (var i = 1; i <= 8; i++)
    {
        var genericParams = T(1, i, ", ", n => $"T{n}");
        var genericWheres = T(1, i, " ", n => $"where T{n} : unmanaged");
        var refComps = T(1, i, ", ", n => $"Ref<T{n}>");
#>

        /// <summary>
        /// 
        /// </summary>
        public QueryEnumerator<<#= genericParams #>> Query<<#= genericParams #>>(in WorldQueryFilter filter = default) <#= genericWheres #> => new(this, filter);

        /// <summary>
        /// 
        /// </summary>
        public readonly struct QueryEnumerator<<#= genericParams #>> : IEnumerable<(WorldEntityId, <#= refComps #>)> <#= genericWheres #> 
        {
            private readonly WorldQueryFilter _filter;
            public Enumerable GetEnumerator() => new(_filter);
            IEnumerator IEnumerable.GetEnumerator() => GetEnumerator();
            IEnumerator<(WorldEntityId, <#= refComps #>)> IEnumerable<(WorldEntityId, <#= refComps #>)>.GetEnumerator() => GetEnumerator();
            public QueryEnumerator(in WorldCore world, in WorldQueryFilter filter)
            {
                _filter = filter;
                if (_filter.IsEmpty)
                    _filter = new WorldQueryFilterBuilder(world)<#= T(1, i, "", n => $".WithAll<T{n}>()") #>.Build();
            }
            public struct Enumerable : IEnumerator<(WorldEntityId, <#= refComps #>)>
            {
                public WorldChunkQueryEnumerator ChunkEnumerator;
                private int _index;
                private WorldEntityId* _entity;
                <#= T(1, i, "\n\t\t\t\t", n => $"private T{n}* _component{n};") #>
                private WorldEntityId _currentEntity;
                public (WorldEntityId, <#= refComps #>) Current => (_currentEntity, <#= T(1, i, ", ", n => $"new Ref<T{n}>(_component{n} + _index)") #>);
                object IEnumerator.Current => Current;
                public Enumerable(WorldQueryFilter filter)
                {
                    ChunkEnumerator = new WorldChunkQueryEnumerator(filter);
                    _index = 0;
                    _entity = null;
                    <#= T(1, i, "\n\t\t\t\t\t", n => $"_component{n} = null;") #>
                    _currentEntity = default;
                }
                public bool MoveNext()
                {
                    var chunk = ChunkEnumerator.Current;
                    if (chunk != null)
                    {
                        var count = chunk.Count;
                        if (count > _index && *(_entity + _index) == _currentEntity)
                            ++_index;

                        if (_index < count)
                        {
                            _currentEntity = *(_entity + _index);
                            return true;
                        }
                    }

                    if (!ChunkEnumerator.MoveNext())
                        return false;

                    chunk = ChunkEnumerator.Current!;
                    _index = 0;
                    _entity = chunk.GetEntity(0);
                    <#= T(1, i, "\n\t\t\t\t\t", n => $"_component{n} = (T{n}*)chunk.Get<T{n}>(0);") #>
                    _currentEntity = *_entity;
                    return true;
                }
                public void Reset() { }
                public void Dispose() => ChunkEnumerator.Dispose();
            }
        }
<#
    }
#>
    }
}
